body{
	font-family: "Helvetica Neue", Verdana, Helvetica,Arial;
	font-size: 12px;
	margin-left: 40px;
}
h1{
	color: #296FFF
}
p{
	color: #1B49A8;
}
#csv{
			width: 90%;
			height: 400px;
		}
.data{
			border: 1px solid green;
}
.addressdiv{
			border: 1px solid blue;
			margin-left: 10px;
		}
.fname, .lname{
	font-weight: 600;
	color: #2930FF;
	
}
#doitbtn{
	padding: 8px;
	font-size: 18px;
	border: 4px solid #26A800;
	border-radius: 8px;
	color: white;
	background-color: #135200;
}


